body{
  background-color: #f6f6f6;
  font-family: 'Caveat Brush';
}
.navbar-brand{
  font-size: 29px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  font-family: 'Caveat Brush';
}
li a:hover{
  background-color: #f56777;
  color:green !important;
  text-decoration: overline;
}
.navbar{
  padding:7px;
  background-color:#333;
}
.modal-content{
  background-color: #f4511e;
  color: white;
  width: 300px;
  margin: auto;
}
.dropdown-menu {
  text-align: center;
  background-color: #f6f6;
}
.jumbotron{
  background-color: #f4511e;
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #333;
}
.overlay:hover{
opacity: 0.5;
}
.text{
  color: white;
 font-size: 20px;
 position: absolute;
 top: 50%;
 left: 50%;
 -webkit-transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
 text-align: center;
}
.progress{
  background-color: black;
  height: 4px;
  width: 100px;
}




.intro{
  background-image: url(../images/foodsBg.jpg);
  background-repeat: no-repeat;
  text-align: center;
  height: 300px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: blue;
  font-family: 'Caveat Brush'
}
.col-md-8{
  margin-left:220px;
}
.tex{
  background-color: #DCDCDC;
}
.fut{
  background-image: url(../images/subscribe.jpg);
  background-repeat: no-repeat;
  height: 330px;
  background-position: center;
  background-size: cover;
  color: white;
  margin-top: 100px;
  font-family: 'Caveat Brush'
}
.contacts{
  background-color: red;
  height:  100px;
}
.footeer {
  background-color: #333;
  color: white;
  font-size: 15px;
  font-family: 'Caveat Brush';
}
 a:hover{
  text-decoration: none;
  color: green !important;
}
.col-sm-3{
  margin-left: 50px;
}
.tab-content{
  border: 1px solid green;
  color: green;
}
.nav-tabs,{
  background-color: #323;
  border-top-color: green;
}
.paragraphs{
  color: grey;
  font-size: 16px;
}
.footer{
  background-color: #333;
  color: grey;
  padding: 20px;
}
